body {
    font-family: 'Montserrat', sans-serif;
}
#title {
    color: #fff;
    background-color: #ff4c68;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p {
    color: #8f8f8f;
}
.container-fluid {
    padding: 3% 15% 7%;

}

/* Title-image */

.image-phone {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;

}

/* navigation bar  */

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

/* download-button */
 .download-button {
    margin: 5% 3% 5% 0%;
 }

 /* Features */

 #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
 }

 .feature-box {
    text-align: center;
    padding: 5%;
 }

 .icon-feature {
    color: #ef8172;
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    transition: font-size 0.2s ease-out;
    padding-bottom: 27px;
 }

 .icon-feature:hover {
    color: #ff4c68;
    font-size: 6.5rem;
    padding-bottom: 0px;
 }

/* testimonials section */

 #testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
 }

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* press section  */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing-section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .image-phone {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    padding: 7% 15%;
    background-color:#ff4c68;
    color: #fff;
    text-align: center;
}

.cta-heading {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

/* footer section  */

#footer {
    text-align: center;
    padding: 7% 15%;
}

.footer-icon {
    padding:20px 10px;
}